<% content_for :title, "Изменение категории" %>

<h1>Изменение категории</h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Назад к списку категорий", categories_path %>
</div>
