<p style="color: green"><%= notice %></p>

<% content_for :title, "Категории" %>

<h1>Категории</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Открыть эту категорию", category %>
    </p>
  <% end %>
</div>

<%= link_to "Новая категория", new_category_path %>
