<p style="color: green"><%= notice %></p>

<% content_for :title, "Товары" %>

<h1>Товары</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Открыть этот товар", product %>
    </p>
  <% end %>
</div>

<%= link_to "Новый товар", new_product_path %>
